In [1]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
data = {
    'experience': [1,2,3,4,5,6],
    'salary': [20000,25000,30000,35000,40000,45000]
}
df = pd.DataFrame(data)
df

   experience  salary
0           1   20000
1           2   25000
2           3   30000
3           4   35000
4           5   40000
5           6   45000

In [4]:

X = df[['experience']]
y = df['salary']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [6]:
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
print("Ridge Coefficient:", ridge.coef_)

Ridge Coefficient: [4166.66666667]